--// ----------------------------------------------------------------------------------------------
--// Copyright (c) WCOM AB.
--// ----------------------------------------------------------------------------------------------
--// This source code is subject to terms and conditions of the Microsoft Public License. A 
--// copy of the license can be found in the License.html file at the root of this distribution. 
--// If you cannot locate the  Microsoft Public License, please send an email to 
--// dlr@microsoft.com. By using this source code in any fashion, you are agreeing to be bound 
--//  by the terms of the Microsoft Public License.
--// ----------------------------------------------------------------------------------------------
--// You must not remove this notice, or any other, from this software.
--// ----------------------------------------------------------------------------------------------

USE [master]
GO

/****** Object:  Database [DapperSample2013]    Script Date: 2013-01-30 00:31:52 ******/
CREATE DATABASE [DapperSample2013]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DapperSample2012', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DapperSample2012.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DapperSample2012_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DapperSample2012_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DapperSample2013].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO

USE [DapperSample2013]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2013-01-30 00:31:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](64) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[LastName] [nvarchar](64) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DisplayName]  AS (([FirstName]+' ')+[LastName]) PERSISTED NOT NULL,
	[CellPhoneNumber] [nvarchar](32) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[WorkPhoneNumber] [nvarchar](32) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HomePhoneNumber] [nvarchar](32) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EmailAddress] [nvarchar](64) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Password] [nvarchar](256) COLLATE Finnish_Swedish_CI_AS NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[Created] [datetime] NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

GO
INSERT [dbo].[Customer] ([CustomerId], [FirstName], [LastName], [CellPhoneNumber], [WorkPhoneNumber], [HomePhoneNumber], [EmailAddress], [Password], [ModifiedDate], [Created]) VALUES (10001, N'Dominique', N'Malhotra', N'1 (11) 500 555-0140', NULL, NULL, N'dominique4@adventure-works.com', N'vhoR4dB5H57BSIRCdphRmIzDpbI3exlnwwmwIIXwrEUvM5CK4INr6ztuYfUmGKLUV4axpQz7VFcBsdhxZXEJQA==', CAST(0x000098FE00000000 AS DateTime), CAST(0x000098C200000000 AS DateTime))
GO
INSERT [dbo].[Customer] ([CustomerId], [FirstName], [LastName], [CellPhoneNumber], [WorkPhoneNumber], [HomePhoneNumber], [EmailAddress], [Password], [ModifiedDate], [Created]) VALUES (10002, N'Robyn', N'Carlson', N'1 (11) 500 555-0172', NULL, NULL, N'robyn14@adventure-works.com', N'5SXsbtxPyuT1mrkiWg8pWyacG4yytW2/pwdySAoe0lodqo06hVtrBKChCzZ+ZL1AYJgUZiGPSsrwKxVlPapGzw==', CAST(0x0000984300000000 AS DateTime), CAST(0x000096EA00000000 AS DateTime))
GO
INSERT [dbo].[Customer] ([CustomerId], [FirstName], [LastName], [CellPhoneNumber], [WorkPhoneNumber], [HomePhoneNumber], [EmailAddress], [Password], [ModifiedDate], [Created]) VALUES (10003, N'Julia', N'Simmons', NULL, NULL, N'237-555-0151', N'julia81@adventure-works.com', N'MmsQzYAalhwGQdzn70e7F0a/Ra0ujFsf0uxUKNJ6NK332lRCizepMBTGPnVb1DFEvCzLUS6X1JVvDXME8k74Mg==', CAST(0x00009A6800000000 AS DateTime), CAST(0x0000996D00000000 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET ANSI_PADDING OFF
GO
